.field{
  display: flex;
  flex-wrap: wrap;

  .formulate-input{
    flex: 1;
  }
}

.formulate-input .formulate-input-element {
  max-width: unset;
  margin-bottom: 0.1em;
}

.formulate-input-error{
  position: absolute;
}

.formulate-input[data-type="checkbox"] {
  position: relative;
  align-self: center;
  top: 11px;
}

.formulate-input-grouping{
  width: 100%;
  position: relative;
  
  .formulate-input {
    margin-bottom: 0;
    margin-left: 10px;
  }
} 

.formulate-input-group-repeatable {
  padding-bottom: 1.2em!important;
}

.formulate-input[data-classification="group"] [data-is-repeatable] .formulate-input-group-repeatable-remove:not(:only-of-type) {
  top: 55px;
}